/* Imports Fonts used */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');


/* Adding root colours so I don't have to recall the codes for them */
:root{
  --primary-colour:#2c3855;
  --primary-colour-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width:1200px
}

/* Universal css code. Kept the same
 throughout the file unless state otherwise.
 This is so I don;t need to repeat code*/

/* According to research I've done this resets the page so that theres no bars on the sides when you add items in.
This is to solve the problem where I would be able to see white space next to either images or flexboxes or dives added into page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sets font for website */
body{
  font-family: 'Poppins', sans-serif;
}



.section_header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

a{
  text-decoration: none;
}

img :not(.navbar_nav) {
  width: 100%;
  display: flex;
}




/* Universal Navigation Bar */
.navbar_div {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),(rgba(0,0,0,0.6)));
}

.navbar_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.nav_links {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px ;

}

.nav_links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: .4s;
  font-size: 18px;
  
}

/* A hover effect for my navigation bar pages */
.nav_links a:hover{
  background-color: #80808098;
  border-radius: 20px;
  padding: 10px;
  transition: .5s;
}

.nav_button {
  border: none;
  background: #808080;
  padding: 12px 12px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
}

/* A hover effect for my contact us button */
.nav_button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* Home Page (Index) */



/* Hire a Cabin (hiring) */

.cabin_hire_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
