/* Imports Fonts used */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");

/* Adding root colours so I don't have to recall the codes for them */
:root {
  --primary-colour: #2c3855;
  --primary-colour-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --snow-white: #f1ece6;
  --light-blue: #adbccd;
  --dark-blue: #1f4b8e;
  --dark-snow: #c5bfb9;
}

/* Universal css code. Kept the same
 throughout the file unless state otherwise.
 This is so I don;t need to repeat code*/

/* According to research I've done this resets the page so that theres no bars on the sides when you add items in.
This is to solve the problem where I would be able to see white space next to either images or flexboxes or dives added into page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sets font for website */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--snow-white);
}

a {
  text-decoration: none;
}

img :not(.navbar_nav) {
  width: 100%;
  display: flex;
}

/* Below is a piece of code that can be used in section classes. 
This is a default css code used so I don't need to reapply the same code. 
It can be added along with another class tag for specific pieces of code */
.section_defaults {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
/* End of Universal CSS Code */

/* Universal Navigation Bar */
.navbar_div {
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), (rgba(0, 0, 0, 0.6)));
}

.navbar_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 10%;
  padding-right: 10%;
}

.nav_links {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.nav_links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
  font-size: 18px;
}

/* A hover effect for my navigation bar pages */
.nav_links a:hover {
  background-color: #80808098;
  border-radius: 20px;
  padding: 10px;
  transition: 0.35s ease-in;
}

.nav_button {
  border: none;
  background: #808080;
  padding: 12px 12px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
  color: black;
}

/* A hover effect for my contact us button */
.nav_button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* Universal Footer */

.footer {
  background-color: var(--dark-snow);
}

.footer_container {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  gap: 5rem;
}

.footer_col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer_col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer_col p {
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer_col p:hover {
  color: var(--text-dark);
}

.footer_bar {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: right;
}

.footer_bar::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 28rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2px;

  background-color: var(--text-light);
}

/* Home Page (Index, 1st page) */

.promotional_quote h1 {
  position: relative;
  margin: 0;
  width: 100%;
  height: 500;
  opacity: 1;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  color: var(--text-dark);
}

.home_header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.home_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.chalet_grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.chalet_card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  width: 25rem;
  height: fit-content;
  margin: auto;
  background-color: var(--dark-snow);
}

.chalet_card img {
  width: 25rem;
  height: 25rem;
  position: relative;
}

.cabin_description {
  padding: 1rem;
}

.cabin_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.1rem;
}

.cabin_header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.cabin_description h3 {
  font-size: 1rem;
  font-weight: 200;
  color: var(--text-light);
  margin-bottom: 0.3rem;
}

.cabin_description p {
  color: var(--text-light);
}

.chalet_button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.review_grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.review_card {
  padding: 2rem;
  background-color: var(--dark-snow);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  width: 25rem;
  margin: auto;
  padding: 5rem 1rem;
}

.review_card p {
  text-align: center;
  color: var(--text-dark);
}

.review_card h3 {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
}

.reviews_container h2 {
  justify-content: center;
  display: flex;
  margin-top: 7vh;
  font-size: 3rem;
  color: var(--text-dark);
}

.review_card img {
  max-width: 80px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  justify-content: center;
  display: flex;
}

.homepage_membership_promo {
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  background-color: var(--dark-snow);
}

.homepage_membership_promo p {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-light);
}

.homepage_membership_promo h4 {
  max-width: 500px;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.membership_page_button {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-colour);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.membership_page_button:hover {
  background-color: var(--primary-colour-dark);
}

/* Hire a Cabin (hiring, 3rd page) */

.cabin_hire_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.header_container {
  padding: 1rem 1rem 5rem 1rem;
}

.cabin_hire_image {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(
      to right,
      rgba(44, 56, 85, 0.9),
      rgba(100, 125, 187, 0.1)
    ),
    url(./Images/maunga_club_cabin.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.cabin_hire_content {
  max-width: 600;
  padding: 5rem 2rem;
}
.cabin_hire_content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--white);
}

.cabin_hire_content p {
  color: var(--extra-light);
}

.booking_container {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 6rem);
  height: 8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem, 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking_container form {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.booking_container .cabin_hire_input {
  width: 100%;
  margin-left: 22px;
  position: relative;
}

.booking_container label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  pointer-events: none;
  transition: 0.3s;
}

.booking_container input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-colour);
  color: var(--text-dark);
}

.booking_container input:focus ~ label {
  font-size: 0.8rem;
  top: 0;
}

.booking_container .hire_form p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  margin-left: 22px;
  color: var(--text-light);
}

.booking_container .hire_button {
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-colour);
  border-radius: 100%;
  cursor: pointer;
  margin-left: 12px;
  margin-right: 10px;
  transition: 0.3s;
}

.booking_container .hire_button:hover {
  background-color: var(--primary-colour-dark);
}

/* Code to make site responsive */

@media (width < 900px) {
  .booking_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hire_form {
    grid-template-columns: repeat(2, 1fr);
  }

  .chalet_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .review_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .nav_links {
    display: none;
  }

  .header_container {
    padding-bottom: 25rem;
  }

  .booking_container {
    flex-direction: column;
    bottom: -25rem;
  }

  .booking_container form {
    grid-template-columns: repeat(1, 1fr);
  }

  .chalet_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .review_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_container {
    gap: 2rem;
  }
}
